@inherits LayoutComponentBase

<div class="ig-app">
    <aside class="ig-sidebar">
        <NavMenu />
    </aside>

    <main class="ig-main">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">×</span>
</div>
