<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["app.instagram.css"]" />
    <link rel="stylesheet" href="@Assets["MiniInstagram.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@8.0.7/dist/browser/signalr.min.js"></script>
    <script src="js/callRing.js"></script>
    <script src="js/callHubClient.js"></script>
    <script src="js/notificationHubClient.js"></script>
    <script src="js/voiceRecorder.js"></script>
    <script src="js/infiniteScroll.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
